<div class="container py-3">
  <app-listado-actores
    [listaActores]="this.listaActores"
    (avisarSeleccion)="getSeleccionActor()"
    [actorSeleccionado]="this.actorSeleccionado"
  ></app-listado-actores>
  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <app-detalle-actor
        [actor]="this.actorSeleccionado[0]"
      ></app-detalle-actor>
      <app-detalle-pais [pais]="this.pais"></app-detalle-pais>
      <app-peliculas-actor
        [peliculasActor]="this.peliculasActor"
      ></app-peliculas-actor>
    </div>
  </main>
</div>
