<!-- Se mostrara el detalle de la pelicula seleccionada en el listado -->
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Detalles de la pelicula</h2>
      @if(this.pelicula) {
      <ul class="list-unstyled mt-3 mb-4">
        <li>Nombre: {{ this.pelicula.Nombre }}</li>
        <li>Cantidad de publico: {{ this.pelicula.CantidadPublico }}</li>
        <li>Fecha de estreno: {{ this.pelicula.FechaEstreno }}</li>
        <li>Genero: {{ this.pelicula.Tipo }}</li>
      </ul>
      }
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3 cont-img">
      <h2>Foto de la pelicula</h2>
      @if(this.pelicula) {
      <img [src]="this.pelicula.FotoPelicula" alt="foto" />
      }
    </div>
  </div>
</div>
