<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm border-primary">
    <div class="card-header py-3 text-white bg-primary border-primary">
      <h4 class="my-0 fw-normal">Peliculas del actor</h4>
    </div>
    <div class="card-body">
      @if (this.peliculasActor.length) {
      <ul class="list-unstyled mt-3 mb-4">
        @for (item of this.peliculasActor; track $index) {
        <li>{{ $index + 1 }}-Pelicula: {{ item.Nombre }}</li>
        }
      </ul>
      } @else if (this.peliculasActor.length===0) {
      <p>No hay peliculas cargadas de este actor</p>
      } @else {
      <h1 class="card-title pricing-card-title">Vacio</h1>
      }
    </div>
  </div>
</div>
