<div class="container">
  <!-- (Nombre, apellido, documento, edad, país). -->
  <main>
    <div class="py-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="img/logo.png"
        alt=""
        width="72"
        height="57"
      />
      <h2>Cargar actor</h2>
      <p class="lead">
        Este es un formulario en el cual vas a poder cargar un actor y quede
        registrado en el sistema
      </p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Seleccionar pais</span>
          <span class="badge bg-primary rounded-pill">{{
            this.listaPaises.length
          }}</span>
        </h4>
        <ul class="list-group mb-3 scrollable-list">
          @for (item of this.listaPaises; track $index) {
          <li [class]="item.clase" (click)="this.selectPais(item)">
            <div>
              <h6 class="my-0">{{ item.nombre }}</h6>
            </div>
            <span class="text-muted">{{ item.region }}</span>
          </li>
          }
        </ul>
        @if (this.guardar && !this.paisSelecionada) {
        <div class="div-p">
          <p class="invalido">No seleccionaste pais</p>
        </div>
        }
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Datos del actor</h4>
        <form class="needs-validation" novalidate [formGroup]="fg">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder=""
                formControlName="nombre"
                required
              />
              <div class="div-p">
                @if(this.fg.controls['nombre'].errors !== null &&
                this.fg.controls["nombre"].touched) { @if
                (this.fg.controls['nombre'].errors!['required']) {
                <p class="invalido">Este campo es requerido</p>
                } @else {
                @if(this.fg.controls['nombre'].errors!['caracteresEspeciales'])
                {
                <p class="invalido">Sin caracteres especiales o numeros</p>
                } } }
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Apellido</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder=""
                formControlName="apellido"
                required
              />
              <div class="div-p">
                @if(this.fg.controls['apellido'].errors !== null &&
                this.fg.controls["apellido"].touched) { @if
                (this.fg.controls['apellido'].errors!['required']) {
                <p class="invalido">Este campo es requerido</p>
                } @else {
                @if(this.fg.controls['apellido'].errors!['caracteresEspeciales'])
                {
                <p class="invalido">Sin caracteres especiales o numeros</p>
                } } }
              </div>
            </div>

            <div class="col-12">
              <label for="documento" class="form-label">Documento</label>
              <input
                type="number"
                class="form-control"
                id="documento"
                formControlName="documento"
                required
              />
              <div class="div-p">
                @if(this.fg.controls['documento'].errors !== null &&
                this.fg.controls["documento"].touched) { @if
                (this.fg.controls['documento'].errors!['required']) {
                <p class="invalido">Este campo es requerido</p>
                } @else {
                @if(this.fg.controls['documento'].errors!['cantidadDoc']) {
                <p class="invalido">Invalido entre 7 y 8 caracteres</p>
                } }}
              </div>
            </div>

            <div class="col-12">
              <label for="edad" class="form-label">Edad</label>
              <input
                type="number"
                class="form-control"
                id="edad"
                placeholder="32"
                formControlName="edad"
                required
              />
              <div class="div-p">
                @if(this.fg.controls['edad'].errors !== null &&
                this.fg.controls["edad"].touched) { @if
                (this.fg.controls['edad'].errors!['required']) {
                <p class="invalido">Este campo es requerido</p>
                }}
              </div>
            </div>
          </div>
          <br />
          <button
            class="w-100 btn btn-primary btn-lg"
            type="submit"
            (click)="acceder()"
          >
            Cargar actor
          </button>
        </form>
      </div>
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2024 Federico Cardozo</p>
  </footer>
</div>
